.DS_Store
.vscode
**/error.log
**/combined.log
**/DS_Store
**/node_modules/**
**/package.json
**/dist/**
**/.vscode
**/babel.config.js
**/jsconfig.json
**/package-lock.json
**/vue.config.js
node-server/node_modules
node-server/package.json

vue-client/node_modules
vue-client/package.json

.env
